.mixin.out/
.vscode/
config/jei/world
coremods/
crash-reports/
downloads/
ESM/
local/
logs/
modernfix/
mods/
patchouli_books/
profileimage/
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
.curseclient
.qmenu_opened.marker
emi.json
hs_err_pid9804.log
hs_err_pid32200.log
icon.png
ImmersiveRevolutionRebirth.zip
knownkeys.txt
minecraftinstance.json
options.txt
patchouli_data.json
rhino.local.properties
servers.dat
servers.dat_old
TrashSlotSaveState.json
user-prefs.json
usercache.json
usernamecache.json
