.mixin.out/
.vscode/
crash-reports/
downloads/
ESM/
local/
logs/
modernfix/
mods/
patchouli_books/
resourcepacks/
saves/
schematics/
screenshots/
shaderpacks/
.curseclient
emi.json
hs_err_pid9804.log
hs_err_pid32200.log
knownkeys.txt
minecraftinstance.json
options.txt
patchouli_data.json
rhino.local.properties
TrashSlotSaveState.json
usercache.json
usernamecache.json
