.mixin.out/
.vscode/
crash-reports/
downloads/
ESM/
local/
logs/
modernfix/
mods/
patchouli_books/
profileimage/
resourcepacks/
saves/
screenshots/
shaderpacks/
.curseclient
.qmenu_opened.marker
emi.json
hs_err_pid9804.log
hs_err_pid32200.log
ImmersiveRevolutionRebirth.zip
knownkeys.txt
minecraftinstance.json
options.txt
patchouli_data.json
rhino.local.properties
TrashSlotSaveState.json
user-prefs.json
usercache.json
usernamecache.json
